<h2>Portra</h2>
<p>Portra is a proof-of-concept that implements iOS6's media upload capability, HMTL5 canvas and Twitter OAuth to build a quick little photo sharing web app.</p>
<p>It was built in the course of a weekend by <a href="http://www.brandonevans.ca">Brandon Evans</a> to play around and learn new things.</p>
<p>You're probably viewing this because you're not visiting Portra on an iPhone running iOS6, but you can still dive into the code on <a href="https://www.github.com/interstateone/portra">GitHub</a>.</p>
<p>Dear Kodak: Thanks.</p>
