<canvas id="photo-canvas"></canvas>
<img src="/images/arrows.gif" class="arrows" alt="Swipe up to post">
<input type="file" accept="image/*" capture="camera" class="btn btn-primary"></input>
<button class="btn btn-large shutter"><i class="icon-camera"></i></button>
<div class="spinnerContainer"></div>
<div class="caption">
  <textarea name="caption" value="Taken with Portra" placeholder="Taken with Portra"></textarea>
  <span class="counter"></span>
</div>
<div class="prompt">
  <i class="icon-share"></i>
  <p>Add Portra to your home screen</p>
</div>
<div id="share-path"></div>
