<canvas id="photo-canvas"></canvas>
<input type="file" accept="image/*" capture="camera" class="btn btn-primary"></input>
<a class="small-circle logout" href="/logout"><i class="icon-signout"></i></a>
<button class="btn btn-large shutter"><i class="icon-camera"></i></button>
<button class="small-circle share" disabled="disabled"><i class="icon-twitter"></i></button>
<div class="spinnerContainer"></div>
<div class="caption">
  <textarea name="caption" value="Taken with Portra" placeholder="Taken with Portra"></textarea>
  <span class="counter"></span>
</div>
<div class="prompt">
  <i class="icon-share"></i>
  <p>Add Portra to your home screen</p>
</div>
