<canvas id="photo-canvas"></canvas>
<input type="file" accept="image/*" capture="camera" class="btn btn-primary"></input>
<a class="small-circle logout" href="/logout"><img src="/img/signout.png" alt=""></a>
<button class="btn btn-large shutter"><img src="/img/camera.png" alt=""></button>
<button class="small-circle share" disabled="disabled"><img src="/img/twitter.png" alt=""></button>
<div class="spinnerContainer"></div>
<div class="caption">
  <textarea name="caption" value="Taken with Portra" placeholder="Taken with Portra"></textarea>
  <span class="counter"></span>
</div>
<div class="prompt">
  <p>Add Portra to your home screen</p>
  <img src="/img/arrow.png" alt="">
</div>
