<div class="circle">
  <div class="top-half-circle"><span class="brand">Portra</span></div>
  <a class="btn bottom-half-circle" href="/auth/twitter" title="Sign in with Twitter">
    <img src="/img/twitter-white.png" alt="Twitter">
  </a>
</div>
