// CSS Reset
@import "reset.less";

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// Grid system and page structure
@import "scaffolding.less";
@import "layouts.less";
@import "grid.less";

// Base CSS
@import "type.less";
@import "forms.less";
@import "alerts.less";

@import "utilities.less";

@import "buttons.less";
@import "progress-bars.less";

@media (orientation: landscape) {
	canvas {
		width: 320px;
		left: 0;
	}
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type="file"] {
	display: none;
}

.share-box {
	display: none;
	position: absolute;
	margin: 75% 0 0 50%;
	top: -20px;
	left: -100px;
	width: 250px;
}

.locate {
	display: inline-block;
	width: 50px;
	height: 50px;
}

canvas {
	max-width: 100%;
}

.circle {
	position: absolute;
	margin: 50%;
	left: -100px;
	top: -100px;
	text-align: center;
}

.top-half-circle {
	display: block;
	border-top-right-radius: 100px;
	border-top-left-radius: 100px;
	height: 70px;
	width: 200px;
	padding-top: 30px;
	background-color: @yellow;
	color: @red;
}

.bottom-half-circle {
	display: block;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	height: 80px;
	width: 200px;
	padding: 20px 0 0 0;
	color: @white;

	&:hover {
		color: @white;
		text-decoration: none;
	}

	img {
		width: 50px;
		height: 50px;
	}
}

.brand {
  display: inline-block;
  padding: 12px 20px;
  font-size: 30px;
  font-weight: 200;
  line-height: 1;
  font-family: @headerFontFamily;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &:hover {
    text-decoration: none;
  }
}

.prompt {
	display: none;
	position: absolute;
	bottom: 10%;
	width: 100%;
	color: @white;
	text-align: center;

	i {
		margin-bottom: 20%;
		font-size: 300%;
	}

	img {
		width: 50px;
		height: 50px;
	}
}

.shutter {
	position: absolute;
	display: block;
	margin: 50%;
	left: -50px;
	top: -50px;
	border-radius: 100px;
	width: 100px;
	height: 100px;
	background-color: @purple;
	color: @white;
}

#photo-canvas {
	display: none;
}

.spinnerContainer {
	position: absolute;
	margin: 70% 0 0 50%;
	left: -50px;
	top: -50px;
	text-align: center;
	width: 100px;
	height: 100px;
}

.caption {
	display: none;
	position: absolute;
	height: 25%;
	width: 100%;
	left: 0;
}

.counter {
	color: @red;
}

textarea {
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	color: @purple;
	height: 100%;
}

::-webkit-input-placeholder{
	color: @gray;
}

.arrows {
	display: none;
	position: absolute;
	top: -50px;
	left: -12.5px;
	margin: 30% 0 0 50%;
	width: 25px;
	height: 100px;
	opacity: 0.5;
}

.bottom-icon {
	position: absolute;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	border: none;
	padding: 0;
	margin: 0;
	line-height: 50px;
}

.logout {
	bottom: 10px;
	left: 10px;

	&:hover {
		text-decoration: none;
		color: @purple;
	}
}

.share {
	bottom: 10px;
	right: 10px;

	&:disabled {
		display: none;
	}
}

.container-center {
	width: 100%;
	text-align: center;

	.container-about {
		margin: 0 auto;
		max-width: 500px;
		text-align: left;
	}
}
